.primaryBgcolor {
    background-color: rgb(252, 210, 50);
}

.secondaryBgColor {
    background-color: rgb(48, 47, 56);
}


/* navbar */

.logo {
    width: 90px;
}

.navParent .navbar-light .navbar-nav .nav-link {
    font-weight: 500;
    font-size: 18px;
    color: black;
    margin-left: 10px;
}

.navParent .navbar-light .navbar-nav .nav-link:last-child {
    color: white;
    font-weight: 400;
    background-color: red;
    border-radius: 5px;
    margin-left: 40px;
    text-align: center;
    padding: 7px 20px;
}

.navParent .navbar-light .navbar-nav .nav-link:last-child:hover {
    background-color: rgb(252, 66, 66);
}

.navParent input[type=checkbox],
input[type=radio] {
    display: none;
}


/* navbar ends here */


/* main bacground image */

.bgimg {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/Brainster_4-1024x683.jpg");
    opacity: 0.9;
    background-size: cover;
    background-position: center center;
    height: 60vh;
    color: white;
}


/* filter buttons for cards */

.academyTypes {
    display: flex;
    flex-direction: row;
}

.defaultBox {
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 33.33%;
    padding: 40px;
    margin: 0px;
    background-color: rgb(52, 58, 64);
    color: white;
}

.filteredBox {
    background-color: rgb(234, 58, 58);
    color: #343A40;
}

.defaultBox:hover {
    cursor: pointer;
}

.check-color {
    color: rgb(52, 58, 64);
    margin-left: 20px;
}


/* filter buttons for cards  ends here*/


/* cards */

.cardParent .card {
    scale: 0;
    transition: 1.5s all;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardParent .card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.academyTypes input[type=checkbox],
input[type=radio] {
    display: none;
}

.cardImg {
    height: 150px;
}

.academyYear {
    font-weight: 600;
    font-size: 14px;
}

.cardBtn {
    background-color: red;
    border-radius: 5px;
    padding: 7px 25px;
    color: white;
    font-weight: 600;
}

.cardBtn:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(250, 51, 51);
}

.navChangeOnClick {
    background-color: rgb(48, 47, 56);
    height: 100vh;
    transition: all 1s;
}

.navChangeOnClick .logo {
    opacity: 0;
}


/* ova e tuka za na ipad da mi bidat vo tri koloni a ne isto ko na mobilen */

@media(max-width:767px) {
    .academyTypes {
        display: flex;
        flex-direction: column;
    }
    .defaultBox {
        width: 100%;
        padding: 20px;
    }
}

@media (max-width:768px) {
    .navParent .navbar-light .navbar-nav .nav-link:last-child {
        margin-left: 0;
        text-align: center;
        width: 250px;
    }
    .navParent .navbar-light .navbar-nav .nav-link {
        color: white;
    }
    .navParent .navbar {
        display: block;
    }
    .burger {
        position: absolute;
        right: 10px;
        top: 40px;
    }
    #navBar .fa.fa-times {
        color: white;
    }
    .marginTop {
        margin-top: 10px;
    }
    .row .aplicationBtn {
        display: none;
    }
}